    {% extends "authenticacao/modelo.html" %}
    {% load static %}
    
    {% block title %}
    {% endblock title %}

    {% block css %}      
    {% endblock css %}

    {% block scripts %}      
    {% endblock scripts %}


    {% block nav %}      
    {% endblock nav %}

    {% block titulo %}      
    {% endblock titulo %}

    {% block conteudo %}      
    {% endblock conteudo %}
    
    {% block footer %}      
    {% endblock footer %}

    {% block extra_scripts %}      
    {% endblock extra_scripts %}